// About us css area

.about-us-area {
    padding-bottom: 50px;
    position: relative;

    .about-shape-1 {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
    }

    .about-content-text {
        margin-bottom: 50px;
        position: relative;
        z-index: 10;

        h6 {
            color: var(--Primary, #EB3A7B);
            font-family: var(--ff-heading-sub);
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 6px;
        }

        h2 {
            font-size: 50px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
        }

        .sub-title-about {
            color: #222;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 29px;
        }

        p {
            color: #222;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 29px;
        }
    }

    .about-image-area {
        margin-bottom: 50px;
        position: relative;
        margin-left: 50px;
        overflow: hidden;

        img {
            overflow: hidden;
            border-radius: 15px;
        }
    }

    .about-per-img {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 10;
    }
}