// Cate Product css

.product-cate-area {
   padding-bottom: 80px;

   .single-cate-product {
      margin-bottom: 50px;
      .cate-product-img {
         margin-right: 20px;

         img{
            height: 100px;
            width: 100px;
            border-radius: 50%;
         }

         .price-badge {
            height: 36px;
            width: 36px;
            line-height: 36px;
            border-radius: 50%;
            background-color: #fff;
            text-align: center;
            box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
            position: absolute;
            top: -14%;
            right: 5%;
         }
      }

      h4 {
         margin-bottom: 0;
         font-style: normal;
         font-weight: 600;
         line-height: normal;

         a{
            color: $black;
            font-size: 35px;
            transition-duration: 500ms;
         }
         &:hover{
            a{
               color: $primary;
            }
         }
      }
   }
}