// Error css area

.error-area {
    padding: 150px 0;
    padding-top: 130px;

    .error-content-area {
        h2 {
            font-size: 250px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;

            span {
                color: $primary;
            }
        }

        h4 {
            font-size: 50px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
        }

        p {
            color: var(--Gray, #706C6C);
            font-family: var(--ff-heading);
            font-size: 25px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin-bottom: 50px;
        }
    }
}